<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  </div>

<div>
  <label>First param:
    <input [(ngModel)]="params.param1" placeholder="param1" required/>
  </label>
</div>
<div>
  <label>Second param:
    <input [(ngModel)]="params.param2" placeholder="param2" required/>
  </label>
</div>

{{ result }}
<br>
<button type="button" class="btn btn-default" (click)="addition()">Submit</button>

<h2>Access logs(createdDate,ipAddress,uri,uuid,parameters,httpStatus)</h2>
<ul>
  <li *ngFor="let log of logs">
    <span class="badge">{{log.createdDate}} {{log.ipAddress}}</span> {{log.uri}} {{log.uuid}} {{log.parameters}} {{log.httpStatus}}
  </li>
</ul>

<router-outlet></router-outlet>
